name: 'Grammar Changes'

on:
  pull_request:

jobs:
  grammar-change-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Check if grammar changed
        id: grammar-diff
        run: |
          if git diff --name-only origin/${{ github.base_ref }} HEAD | grep -q '\.g4$'; then
            echo "::set-output name=changed::true"
          else
            echo "::set-output name=changed::false"
          fi

      # - name: Apply label if grammar changed
      #   uses: christianvuerings/add-labels@v1
      #   if: steps.grammar-diff.outputs.changed == 'true'
      #   with:
      #     labels: grammar changed
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Error: Resource not accessible by integration
      # got this with another similar action too
      # whatever, will fix that later

      - name: Setup Java
        uses: actions/setup-java@v3
        if: steps.grammar-diff.outputs.changed == 'true'
        with:
          distribution: 'oracle'
          java-version: '17'

      - name: Download ANTLR
        if: steps.grammar-diff.outputs.changed == 'true'
        run: wget -O src/antlr/antlr.jar https://www.antlr.org/download/antlr-4.12.0-complete.jar

      - name: Generate files
        if: steps.grammar-diff.outputs.changed == 'true'
        run: java -jar src/antlr/antlr.jar -o src/Parsing/Generated -Dlanguage=CSharp src/antlr/TeXpressionMath.g4 -visitor -no-listener

      - name: Diff
        if: steps.grammar-diff.outputs.changed == 'true'
        run: |
          touch test1.txt
          git diff --ignore-space-at-eol
          ls src/Parsing/Generated
          ls src/antlr/

      - name: Check diff against base
        if: steps.grammar-diff.outputs.changed == 'true'
        run: |
          if git diff --ignore-space-at-eol; then
            # There are no changes
            echo "No changes after ANTLR generate"
            exit 0
          else
            # There are changes
            echo "Uncomittd changes after ANTLR generate"
            exit 1
          fi
